name: Go Build/Test

on:
  workflow_call:

jobs:
  Go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install tools
        uses: jdx/mise-action@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=6m

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./... -race
{{- if .Computed.feature_docker_integration }}

      - name: Integration Tests
        run: mise run integration
{{- end }}
